---

---

<section class="flex flex-col gap-y-6 text-neutral-600 leading-relaxed">
  <h2 class="text-neutral-800 font-medium">Full-stack success for a startup</h2>
  <span class="px-2">
    This project was part of the Capstone course. The client was a real Finnish
    startup company. We assembled a marketing and development team, resulting in
    a functional and user-friendly project and file management web application.
  </span>
  <div class="px-2 flex flex-col">
    <span class="font-medium">Vision and realisation</span>
    <span>
      The vision of our project centered on clearly defining its goals,
      objectives, and scope. We actively engaged key stakeholders, including
      businesses, customers, and potential users, gathering valuable feedback
      and insights through surveys to better understand their needs and
      expectations for the application.
    </span>
  </div>
  <span class="px-2"
    >Our primary objective was to bring to life the envisioned web application
    from the preceding phase. This involved designing the user interface,
    developing the backend infrastructure, and seamlessly integrating
    third-party services, particularly <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://azure.microsoft.com/en-us"
      target="_blank"
      rel="noopener noreferrer"
    >
      Azure.</a
    >
    To accomplish this goal, we employed a combination of <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://www.djangoproject.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Django</a
    >
    and <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://react.dev/"
      target="_blank"
      rel="noopener noreferrer"
    >
      React.</a
    >
  </span>
  <div class="px-2 flex flex-col">
    <span class="font-medium">Summary of achievements</span>
    <ul>
      <li>- Connection between front-end, back-end, and Azure Cloud</li>
      <li>
        - Implementation of data models, which allowed us to store and
        manipulate data in a structured way
      </li>
      <li>
        - Implementation of data serialization techniques, building
        well-designed API endpoints, effectively integrating Azure Cloud
        services into our project, and more
      </li>
      <li>
        - The front-end incorporated best practices, including accessibility,
        clean-architecture, and SEO. The UI was user-friendly. Styling was done
        by using <a
          class="font-medium underline decoration-2 hover:decoration-neutral-800"
          href="https://tailwindcss.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          TailwindCSS.</a
        >
      </li>
      <li>
        - Through careful planning and implementation, we were able to ensure
        that data was effectively transmitted between all components and that
        the overall system functioned smoothly
      </li>
    </ul>
  </div>
  <div class="px-2 flex flex-col">
    <span class="font-medium">Challenges</span>
    <span>
      We faced scheduling challenges due to overlapping classes with the
      Capstone course. Despite these time constraints, we successfully managed
      our workload by prioritizing tasks and utilizing time efficiently. Our
      proficiency in our degree program's core competencies played a significant
      role in shaping our approach to various tasks and decision-making
      processes throughout the project. For instance, our expertise in web
      development and database design allowed us to establish a robust
      foundation for the web app. Additionally, we identified areas where our
      knowledge was lacking and dedicated time to learning and researching to
      overcome these specific challenges.
    </span>
  </div>
  <div class="px-2 flex flex-col">
    <span class="font-medium">Advice</span>
    <span>
      It is crucial to establish a comprehensive understanding of the project's
      goals, objectives, and scope prior to commencing any work. This clarity
      ensures alignment among team members and a shared commitment to the
      ultimate objective. Effective communication plays a pivotal role in
      project success, emphasizing the necessity of regular meetings and updates
      to keep everyone informed and on track. Being prepared to adapt and adjust
      plans as necessary is key to maintaining momentum and progress throughout
      the project.
    </span>
  </div>
  <span class="px-2">
    Collaboration is essential between team members. Encourage open
    communication and a willingness to work together to achieve the project's
    goals.
  </span>
</section>
