---

---

<section class="flex flex-col gap-y-6 text-neutral-600 leading-relaxed">
  <h2 class="text-neutral-800 font-medium">
    Healthcare Interactivity: Smart ball
  </h2>
  <span class="px-2">
    The project will be completed in March 2024, after that I will update the
    content here.
  </span>
</section>
