---
import { Image } from "astro:assets";

import code2 from "@/components/assets/code2.png";
import code3 from "@/components/assets/code3.png";
---

<section class="flex flex-col gap-y-6 text-neutral-600 leading-relaxed">
  <h2 class="text-neutral-800 font-medium">Crafting my portfolio</h2>
  <span class="px-2">
    Here is a short story about building my portfolio. I wanted to build a
    personal portfolio website where I can showcase my notable projects, share
    my thoughts, and connect with the world.
  </span>
  <div class="px-2 flex flex-col">
    <span class="font-medium">Planning and technologies</span>
    <span>
      I wanted to create a simple and minimalistic site. I enjoy working on
      UI/UX, so I wanted the site to look good as well. I had to choose a
      framework. Something that matched my requirements. I knew that Next.js
      comes with too much stuff that I don't need for this kind of project. I
      decided to choose <a
        class="font-medium underline decoration-2 hover:decoration-neutral-800"
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Astro.</a
      >
    </span>
  </div>
  <span class="px-2">
    In terms of technology stack, I utilized <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Astro</a
    > for the framework,
    <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Tailwind CSS</a
    > for styling, and
    <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://netlify.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Netlify</a
    > for deployment. For implementing the blog, I used <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://docs.astro.build/en/guides/content-collections/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Markdown and Content Collections.</a
    >
  </span>
  <div class="px-2 flex flex-col">
    <span class="font-medium">Scheduling posts</span>
    <span>
      I decided to schedule my blog posts, utilizing <a
        class="font-medium underline decoration-2 hover:decoration-neutral-800"
        href="https://github.com/features/actions"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub Actions</a
      > and Netlify's Build Hooks. Here I am filtering all the drafts for production:
    </span>
  </div>
  <Image
    src={code2}
    alt="Screenshot of code"
    class="mx-2 border-2 border-[#ececec] rounded-md"
    quality={100}
  />
  <span class="px-2"
    >For this to function properly, two crucial elements are required: having an
    isDraft and a date.
  </span>
  <Image
    src={code3}
    alt="Screenshot of code"
    class="mx-2 border-2 border-[#ececec] rounded-md"
    quality={100}
  />
  <div class="px-2 flex flex-col">
    <span class="font-medium">Future</span>
    <span
      >I want to try out all the new features of Astro as they are released.
      That's why the project is regularly updated, and new features are added.</span
    >
  </div>
  <span class="px-2"
    >The code is available on <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://github.com/mikkoaukusti/personal/"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub.</a
    ></span
  >
</section>
