---
import { getCollection, type CollectionEntry } from "astro:content";

import "@/styles/base.css";

import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  // Get all entries from the "blog" collection and filter out drafts for production
  const posts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  });

  // Map the filtered posts to generate static paths
  const paths = posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));

  return paths;
}

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();

const { title, date, description } = entry.data;
---

<BaseLayout title={title + " | Mikko Jokipuu"} description={description}>
  <main class="pt-20">
    <section class="flex flex-col gap-y-6 text-neutral-600 leading-relaxed">
      <a href="/blog" class="group">
        <div
          class="flex items-center gap-x-2 rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
        >
          <span>&#129028</span>
          <span class="font-medium">All posts</span>
        </div>
      </a>
      <h2 class="text-neutral-800 font-medium">{title}</h2>
      <div class="px-2 flex items-center gap-x-2">
        <time datetime={date.toISOString()}
          >{
            date.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }</time
        >
        <span>&#9472</span>
        {remarkPluginFrontmatter.minutesRead}
      </div>
    </section>
    <article
      class="px-2 pt-6 text-neutral-600 prose prose-headings:m-0 prose-headings:text-base prose-headings:text-neutral-600 prose-headings:font-medium prose-a:text-neutral-600 prose-a:font-medium prose-a:underline prose-a:decoration-2 prose-a:decoration-neutral-600 hover:prose-a:decoration-neutral-800 prose-ul:m-0 prose-ol:m-0 prose-li:m-0"
    >
      <Content />
    </article>
  </main>
</BaseLayout>
