---
import "@/styles/base.css";

import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPost from "@/components/BlogPost.astro";

import { posts } from "@/lib/utils";
---

<BaseLayout
  title="Blog | Mikko Jokipuu"
  description="Place where I write articles about my life."
>
  <main class="pt-20">
    <section class="grid grid-cols-1 gap-y-4">
      <h2 class="text-neutral-800 font-medium">All posts</h2>
      {
        posts.length > 0 ? (
          posts.map((post) => <BlogPost post={post} />)
        ) : (
          <span class="px-2 text-neutral-600">No posts yet.</span>
        )
      }
    </section>
  </main>
</BaseLayout>
