---
import { getCollection, type CollectionEntry } from "astro:content";

import "@/styles/base.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPost from "@/components/BlogPost.astro";

// Sort posts by date in descending order (newest first)
const sortPostsByDate = (
  posts: CollectionEntry<"blog">[]
): CollectionEntry<"blog">[] => {
  return posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
};

// Get all entries from the "blog" collection and filter out drafts for production
const posts = sortPostsByDate(
  await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  })
);
---

<BaseLayout
  title="Blog | Mikko Jokipuu"
  description="Place where I write articles about my life."
>
  <h1 class="py-6 text-4xl text-white font-bold">Blog</h1>
  <section class="grid grid-cols-1 gap-6 py-3">
    {posts.map((post) => <BlogPost post={post} />)}
  </section>
</BaseLayout>
