@import url("non.geist");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Geist Variable";
  font-display: swap;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@layer base {
  .prose {
    margin: 0;
  }
}
