---
import "@/styles/base.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404 | Mikko Jokipuu" description="Page not found.">
  <section class="py-6">
    <h1 class="mb-6 text-4xl text-white font-bold">Oops! Page not found!</h1>
    <p class="mb-10 text-neutral-400 tracking-tight">
      Don't worry, the page is off on an adventure to find itself.
    </p>
    <p class="mb-3 text-neutral-400 tracking-tight">
      Hmm... In the meantime, how about a joke?
    </p>
    <p class="text-neutral-400 tracking-tight">
      Why did the page go to therapy? It had too many issues!
    </p>
  </section>
</BaseLayout>
