---
import "@/styles/base.css";

import BaseLayout from "@/layouts/BaseLayout.astro";
import NotFound from "@/components/NotFound.astro";
---

<BaseLayout
  title="404 | Mikko Jokipuu"
  description="The page is nowhere near to be found."
>
  <main class="pt-20 flex flex-col gap-y-20">
    <NotFound />
  </main>
</BaseLayout>
