---
import "@/styles/base.css";

import BaseLayout from "@/layouts/BaseLayout.astro";
import FullStack from "@/components/projects/FullStack.astro";
---

<BaseLayout
  title="Full-stack success | Mikko Jokipuu"
  description="Full-stack project and file management web app for a startup."
>
  <main class="pt-20 flex flex-col gap-y-20">
    <FullStack />
  </main>
</BaseLayout>
