---
import "@/styles/base.css";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Integration from "@/components/projects/Integration.astro";
---

<BaseLayout
  title="HSI | Mikko Jokipuu"
  description="Explore my journey through a healthcare system integration project, collaboratively undertaken with InterSystems and ATR Soft."
>
  <main class="pt-20 flex flex-col gap-y-20">
    <Integration />
  </main>
</BaseLayout>
