---
import "@/styles/base.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeroText from "@/components/HeroText.astro";
---

<BaseLayout title="Home | Mikko Jokipuu" description="Hello">
  <main class="py-6">
    <HeroText />
  </main>
</BaseLayout>
