---

---

<section class="text-neutral-800 leading-relaxed flex flex-col gap-y-4">
  <span>
    Hello, my name is <span class="font-medium">Mikko.</span> I&apos;m an ICT
    engineering student. I specialize in health technology. I like building
    software and traveling around the world.
  </span>
  <span>
    Right now I&apos;m working at
    <a
      class="font-medium underline decoration-2"
      href="https://yeticare.fi/"
      target="_blank"
      rel="noopener noreferrer"
    >
      YetiCare,</a
    >
     building Android solutions with Kotlin.
  </span>
  <span>
    In my spare time, I enjoy web development with React and Next.js.
  </span>
</section>
