---

---

<section class="flex flex-col gap-y-3 pt-12 md:pt-36">
  <h2 class="text-xs text-neutral-500 tracking-tight">
    <span class="italic">Mikko</span> - scandinavian origin that means 'Who Is
    Like God'
  </h2>
  <p class="text-neutral-400 leading-relaxed">
    I'm an 23 y/o ICT undergrad student. I specialize in <span
      class="text-neutral-300 font-bold">health technology.</span
    > I like building things and walking in nature. In my spare time, I enjoy
    <span class="text-neutral-300 font-bold">web development.</span>
  </p>
  <p class="text-neutral-400 leading-relaxed">Right now I'm...</p>
</section>
