---

---

<section class="flex flex-col gap-y-6 text-neutral-600 leading-relaxed">
  <h2 class="text-neutral-800 font-medium">About me</h2>
  <span class="px-2">
    Hello, my name is Mikko. I&apos;m an ICT engineering student. I specialize
    in health technology. I like building software and traveling around the
    world.
  </span>
  <span class="px-2">
    Right now I&apos;m working at
    <a
      class="font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://yeticare.fi/"
      target="_blank"
      rel="noopener noreferrer"
    >
      YetiCare,</a
    >
    building Android solutions with Kotlin.
  </span>
  <span class="px-2">
    In my spare time, I enjoy web development with React and Next.js.
  </span>
</section>
