---

---

<a href="/blog" class="group">
  <div
    class="flex items-center justify-between rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
  >
    <span class="font-medium">All posts</span>
    <span>&#129030</span>
  </div>
</a>
