---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, description, date } = post.data;
---

<a href={`/blog/${post.slug}`} class="group">
  <p
    class="pb-3 text-2xl text-neutral-300 font-bold group-hover:underline decoration-neutral-300"
  >
    {title}
  </p>
  <p
    class="pb-3 text-lg text-neutral-400 tracking-tight group-hover:underline decoration-neutral-400"
  >
    {description}
  </p>
  <div class="pb-3">
    <time class="text-neutral-400 tracking-tight" datetime={date.toISOString()}
      >{
        date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }</time
    >
  </div>
</a>
