---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, description } = post.data;
---

<a href={`/blog/${post.slug}`} class="group leading-relaxed">
  <div
    class="px-2 flex flex-col rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
  >
    <span class="font-medium">{title}</span>
    <span>{description}</span>
  </div>
</a>
