---
import Dot from "@/components/icons/Dot.astro";
import GitHub from "@/components/icons/GitHub.astro";
import ExternalLink from "@/components/icons/ExternalLink.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
---

<footer
  class="py-6 flex items-center justify-between border-t border-[#4d4d4d]"
>
  <nav class="flex flex-col gap-y-2 text-neutral-400 tracking-tight">
    <span class="text-neutral-300">Mikko Jokipuu</span>
    <div class="flex items-center gap-x-2">
      <a href="/" class="hover:underline">Home</a>
      <Dot />
      <a href="/blog" class="hover:underline">Blog</a>
    </div>
  </nav>
  <section class="flex flex-col gap-y-2 text-neutral-400 tracking-tight">
    <a
      href="https://github.com/mikkoaukusti"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-x-1 hover:text-neutral-300"
      ><GitHub /> GitHub <ExternalLink /></a
    >
    <a
      href="https://linkedin.com/in/mikko-jokipuu-a22b27264/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-x-1 hover:text-neutral-300"
      ><LinkedIn /> LinkedIn <ExternalLink /></a
    >
  </section>
</footer>
