---

---

<section
  class="text-center text-4xl text-white font-bold tracking-tight md:text-7xl"
>
  <span>Meet</span>
  <span>Mikko</span>
  <br />
  <span>-</span>
  <span>your</span>
  <span>next</span>
  <br />
  <span class="visionary">visionary</span>
  <span>engineer</span>
</section>

<style>
  .visionary {
    --bg-size: 400%;
    --color-one: #b4aaf7;
    --color-two: #ff9592;
    --color-three: #9eb1ff;
    background: linear-gradient(
        45deg,
        var(--color-one),
        var(--color-two),
        var(--color-three)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s infinite linear;
  }

  @keyframes animate {
    to {
      background-position: var(--bg-size) 50%;
    }
  }
</style>
