---

---

<section class="flex flex-col gap-y-6 text-neutral-600 leading-relaxed">
  <h2 class="text-neutral-800 font-medium">More</h2>
  <span class="px-2">
    You can find the source code on <a
      class="inline-flex items-center gap-x-0.5 font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://github.com/mikkoaukusti/personal"
      target="_blank"
      rel="noopener noreferrer">GitHub.</a
    > My full work history is available on <a
      class="inline-flex items-center gap-x-0.5 font-medium underline decoration-2 hover:decoration-neutral-800"
      href="https://linkedin.com/in/mikko-jokipuu-a22b27264/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn.</a
    >
  </span>
</section>
