---

---

<header class="py-6">
  <nav
    class="flex items-center justify-between text-sm text-neutral-400 tracking-tight"
  >
    <a href="/" class="uppercase font-bold">mj</a>
    <div class="flex items-center gap-x-1">
      <a href="/blog" class="hover:underline">Blog</a>
    </div>
  </nav>
</header>
