---
import Dot from "@/components/icons/Dot.astro";
---

<header class="py-6">
  <nav
    class="flex items-center justify-between text-sm text-neutral-400 tracking-tight"
  >
    <a
      href="/"
      class="text-black font-bold p-1.5 rounded bg-neutral-400 hover:bg-neutral-300"
      >MJ</a
    >
    <div class="flex items-center gap-x-1">
      <a href="/blog" class="hover:underline">Blog</a>
    </div>
  </nav>
</header>
