---

---

<section class="flex flex-col gap-y-6 text-neutral-600 leading-relaxed">
  <h2 class="text-neutral-800 font-medium">Page not found</h2>
  <span class="px-2">
    Don't worry, the page is off on an adventure to find itself.
  </span>
</section>
