---

---

<section class="flex flex-col gap-y-4 text-neutral-600 leading-relaxed">
  <h2 class="text-neutral-800 font-medium">Projects</h2>
  <a href="/healthcare-interactivity" class="group">
    <div
      class="px-2 flex flex-col rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
    >
      <span class="font-medium">Healthcare Interactivity: Smart ball</span>
      <span
        >Defined user needs, planned, and developed new apps for an interactive
        healthcare experience.</span
      >
    </div>
  </a>
  <a href="/healthcare-system-integration" class="group">
    <div
      class="px-2 flex flex-col rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
    >
      <span class="font-medium">Healthcare System Integration</span>
      <span
        >Led the coding efforts in a three-phase project and transformed
        healthcare systems through integration.</span
      >
    </div>
  </a>
  <a href="/full-stack-web-app" class="group">
    <div
      class="px-2 flex flex-col rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
    >
      <span class="font-medium">Full-stack web app</span>
      <span
        >Developed a full-stack project and file management web app for a
        startup.</span
      >
    </div>
  </a>
  <a href="/crafting-my-portfolio" class="group">
    <div
      class="px-2 flex flex-col rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
    >
      <span class="font-medium">Crafting my portfolio</span>
      <span>Explore the creation of my personal website with Astro.</span>
    </div>
  </a>
</section>
