---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, date } = post.data;
---

<a href={`/blog/${post.slug}`} class="group">
  <div
    class="flex items-center justify-between rounded-md p-2 text-neutral-600 group-hover:bg-[#ececec]"
  >
    <span class="font-medium">
      {title}
    </span>
    <time class="text-neutral-600 text-sm" datetime={date.toISOString()}
      >{
        date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }</time
    >
  </div>
</a>
