---
import AllPostsLink from "@/components/AllPostsLink.astro";
import RecentPost from "@/components/RecentPost.astro";

import { posts } from "@/lib/utils";
---

<section class="flex flex-col gap-y-2 text-neutral-600 leading-relaxed">
  <h2 class="pb-2 text-neutral-800 font-medium">Recent posts</h2>
  {posts.slice(0, 2).map((post) => <RecentPost post={post} />)}
  <AllPostsLink />
</section>
