---
import BaseLayout from "@/layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <p>{minutesRead}</p>
  <slot />
</BaseLayout>
